a {
    text-decoration: none;
    color: black;
    font-size: 0.75em;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.site-content {
    flex: 1 0 auto;
    padding: 20px;
}
.conttop {
    display:flex;
}
.topl {
    flex:1;
    
}
.topr {
    flex:1;
    text-align: end;
    
}
.contmid {
    display:center;
    
}
.site-footer {
    display: flex;
    flex-shrink: 0;
}
.botl {
    flex:1;
    background-color: #ccc;
}
.botr {
    flex:1;
    text-align: end;
    background-color: #ccc;
}
