a {
    text-decoration: none;
    color: black;
    font-size: 0.72em;
    margin: 0;
    
}
html, body {
    height: 100%;
    font-family: sans-serif;
}
body {
position: absolute;
top: 0;
width: 99.2%;
height: 99%;
display: flex;
flex-direction: column;
}
img {
    margin-top: 100px;
    margin-bottom: 25px;
}
.site-content {
    flex: 1 0 auto;
    padding: 20px;
}
.conttop {
    display:flex;
}
.topl {
    flex:1;
    word-spacing: 1.2em;
}
.topr {
    flex:1;
    text-align: end;
    word-spacing: 1.2em;
    
}
.contmid {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contbut {
    display: flex;
  align-items: center;
  justify-content: center;
  
}
.site-footer {
    display: flex;
    flex-shrink: 0;
    line-height: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
.botl {
    flex:1;
    background-color: #F2F2F2;
    word-spacing: 1.2em;
    
    
}
.botr {
    flex:1;
    text-align: end;
    background-color: #F2F2F2;
    word-spacing: 1.2em;
   

}
.signin {
    background-color: #4386FA;
    color: white;
    border: 5px solid #4386FA;
    border-radius: 2px;
}
.search, .lucky {
    background-color: #F2F2F2;
    padding: 10px;
    margin: 10px;
    border: 5px solid #F2F2F2;
    border-radius: 2px;  
}
.searchbar {
    width: 582px;
    height: 44px;
    border-radius: 50px;
    background-color: #FFFFFF;
    border: #B1B7BB solid 1px;
}
a.nospace{
    word-spacing: normal;
}